mixin button(props)
  - const {type='default', text='', disabled=false, hover=false, href=false, icon, submit=false} = props
  -
    const buttonCLassObj = {
      "button": true,
      "button--default": type === "default",
      "button--outlined": type === "outlined",
      "button--borderless": type === "borderless",
      "button--big": type === "big",
      "button--hover": hover,
      "button--disabled": disabled
    }
    const btnType = submit?"submit":"button"

  if (!href)
    button(class=buttonCLassObj type=btnType disabled=disabled)&attributes(attributes)
      span.button__wrapper
        span.button__text= text
        if (icon)
          span.button__icon= icon

  else
    a(class=buttonCLassObj href= href)&attributes(attributes)
      span.button__wrapper
        span.button__text= text
        if (icon)
          i.button__icon.material-icons= icon


