include ../../../carousel/carousel
include ../../../rate-button/rate-button
include ../../../../mixins/numberWithSpaces
mixin room(props={})
  -
    const {img=[], rate=0, price=0, amount="В сутки", comments=0, number=0, type=false} = props
    const arr = [
      {src: "img/rooms/room1.jpg", alt: "room1"},
      {src: "img/rooms/room2.jpg", alt: "room2"},
      {src: "img/rooms/room1.jpg", alt: "room1"},
      {src: "img/rooms/room2.jpg", alt: "room2"},
      {src: "img/rooms/room1.jpg", alt: "room1"},
      {src: "img/rooms/room2.jpg", alt: "room2"},
    ]


  .card.card--room
    .card__room-slider
      +carousel({items: arr})
    .card__room-info
      .card__title
        .card__room-number-container
          span.card__room-number= `№${number}`
          if (type)
            span.card__room-type= type
        .card__room-price-container
          span.card__price-sum
            +numberWithSpaces({num: price})
            |₽
          span.card__price-text= amount
      .card__br
      .card__rate-wrapper
        span.card__rate-button-container
          +rate-button({stars: 5, defaultValue: rate})
        span.card__comments-container
          span.card__comments-count= comments
          span.card__comments-text Отзывов

