include ../base-dropdown/base-dropdown

mixin guest-dropdown(props={})
  - const { isOpen=false, windowListener=true, inputListener=true, buttons=true, items=false, template=false } = props

  div(data-buttons=buttons, data-items=items, data-template=template).guest-dropdown.js-guestDropdown
    +baseDropdown({ isOpen, windowListener, inputListener })
      block