mixin checkbox(props)
  -
    const {title=false, description=false, boldTitle=false, checked=false} = props
    const titleClassObj = {
      "checkbox__title": true,
      "checkbox__title--bold": boldTitle
    }

  label.checkbox
    input(type="checkbox" checked=checked).checkbox__true-checkbox
    span.checkbox__fake-checkbox
    span.checkbox__info
      if (title)
        span(class=titleClassObj)= title
      if (description)
        span.checkbox__description= description
