mixin nav-item(props={})
  -const {title="changeMe", bold=false, expandable=false, items=[], href=false} = props
  -
    const linkClassObj = {
      "header__nav-link": true,
      "header__nav-link--with-bold-text": bold
    }

  li.header__nav-item
    if(expandable)
      details.header__details
        summary.header__summary
          a(href=href class=linkClassObj)= title
          span.header__nav-arrow expand_more
        .header__details-hidden
          ul.header__nav-list.header__nav-list--hidden
            for item in items
              li.header__nav-item.header__nav-item--without-margin.header__nav-item--with-padding
                a(href=item.href).header__nav-link= item.title

    else
      a(href=href class=linkClassObj)= title

